Configuration.json
[
    {
        "id": "e8b991a4b47e3552",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "serial in node id",
        "type": "serial in",
        "z": "e8b991a4b47e3552",
        "name": "Arduino Serial In",
        "serial": "1005853c885543a6",
        "x": 400,
        "y": 420,
        "wires": [
            [
                "80ca13b668a020f1",
                "a2d13e6b56c4f6a2",
                "1c8f95646bc2fdf7",
                "819ee1dfb2c309e1",
                "6c3dde73a9159aa0",
                "ba33d1bdb180f83a"
            ]
        ]
    },
    {
        "id": "80ca13b668a020f1",
        "type": "function",
        "z": "e8b991a4b47e3552",
        "name": "DHT22 - Temperature",
        "func": "var payload = msg.payload;\n\nif (payload.includes(\"DHT22\")) {\n    var dht22_temp_match = payload.match(/Temperature: (\\d+\\.\\d+)/);\n    var dht22_temp = dht22_temp_match ? parseFloat(dht22_temp_match[1]) : null;\n\n    if (dht22_temp !== null) {\n        return { payload: dht22_temp, topic: \"DHT22 - Temperature\" };\n    }\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 160,
        "wires": [
            [
                "4bbd7fe589ad3f61",
                "fbf250a1a7670af5",
                "623da89be5fa4e6b"
            ]
        ]
    },
    {
        "id": "4bbd7fe589ad3f61",
        "type": "ui_gauge",
        "z": "e8b991a4b47e3552",
        "name": "",
        "group": "bc4a0db66a73ac50",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "DHT22 - Temperature",
        "label": "°C ",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 960,
        "y": 160,
        "wires": []
    },
    {
        "id": "e95a83bc78b1f595",
        "type": "ui_gauge",
        "z": "e8b991a4b47e3552",
        "name": "",
        "group": "bc4a0db66a73ac50",
        "order": 2,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "DHT22 - Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 300,
        "wires": []
    },
    {
        "id": "a3cdebf5ff7e2edc",
        "type": "ui_gauge",
        "z": "e8b991a4b47e3552",
        "name": "",
        "group": "52cb12e76298bd41",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "DHT11 - Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 960,
        "y": 440,
        "wires": []
    },
    {
        "id": "871b9fa9c90a55d2",
        "type": "ui_gauge",
        "z": "e8b991a4b47e3552",
        "name": "",
        "group": "52cb12e76298bd41",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "DHT11 - Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 580,
        "wires": []
    },
    {
        "id": "82b6fd02b3a9e5ed",
        "type": "ui_gauge",
        "z": "e8b991a4b47e3552",
        "name": "",
        "group": "ed6391c30c84927d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "MQ135 - Air Quality",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 720,
        "wires": []
    },
    {
        "id": "a2d13e6b56c4f6a2",
        "type": "function",
        "z": "e8b991a4b47e3552",
        "name": "DHT11 - Temperature",
        "func": "var payload = msg.payload;\n\nif (payload.includes(\"DHT11\")) {\n    var dht11_temp_match = payload.match(/Temperature: (\\d+\\.\\d+)/);\n    var dht11_temp = dht11_temp_match ? parseFloat(dht11_temp_match[1]) : null;\n\n    if (dht11_temp !== null) {\n        return { payload: dht11_temp, topic: \"DHT11 - Temperature\" };\n    }\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 460,
        "wires": [
            [
                "a3cdebf5ff7e2edc",
                "0db72d796812b641",
                "54c0393c3c289f18"
            ]
        ]
    },
    {
        "id": "ba33d1bdb180f83a",
        "type": "function",
        "z": "e8b991a4b47e3552",
        "name": "MQ135",
        "func": "var payload = msg.payload;\n\nif (payload.includes(\"MQ-135\")) {\n    var mq135_value_match = payload.match(/Value: (\\d+)/);\n    var mq135_value = mq135_value_match ? parseInt(mq135_value_match[1]) : null;\n\n    if (mq135_value !== null) {\n        return { payload: mq135_value, topic: \"MQ135 - Air Quality\" };\n    }\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 700,
        "wires": [
            [
                "82b6fd02b3a9e5ed",
                "c91feeba05453288",
                "54e8ed58a8c91653"
            ]
        ]
    },
    {
        "id": "fbf250a1a7670af5",
        "type": "ui_chart",
        "z": "e8b991a4b47e3552",
        "name": "",
        "group": "bc4a0db66a73ac50",
        "order": 3,
        "width": "0",
        "height": "0",
        "label": "DHT22 - Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0db72d796812b641",
        "type": "ui_chart",
        "z": "e8b991a4b47e3552",
        "name": "",
        "group": "52cb12e76298bd41",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "DHT11 - Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 980,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "c91feeba05453288",
        "type": "ui_chart",
        "z": "e8b991a4b47e3552",
        "name": "",
        "group": "ed6391c30c84927d",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "MQ135 Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "1c8f95646bc2fdf7",
        "type": "function",
        "z": "e8b991a4b47e3552",
        "name": "DHT22 - Humidity",
        "func": "var payload = msg.payload;\n\nif (payload.includes(\"DHT22\")) {\n    var dht22_hum_match = payload.match(/Humidity: (\\d+\\.\\d+)/);\n    var dht22_hum = dht22_hum_match ? parseFloat(dht22_hum_match[1]) : null;\n\n    if (dht22_hum !== null) {\n        return { payload: dht22_hum, topic: \"DHT22 - Humidity\" };\n    }\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 300,
        "wires": [
            [
                "e95a83bc78b1f595",
                "a67d3aa8437da6ab",
                "490ca67da95e0a1e"
            ]
        ]
    },
    {
        "id": "819ee1dfb2c309e1",
        "type": "function",
        "z": "e8b991a4b47e3552",
        "name": "DHT11 - Humidity",
        "func": "var payload = msg.payload;\n\nif (payload.includes(\"DHT11\")) {\n    var dht11_hum_match = payload.match(/Humidity: (\\d+\\.\\d+)/);\n    var dht11_hum = dht11_hum_match ? parseFloat(dht11_hum_match[1]) : null;\n\n    if (dht11_hum !== null) {\n        return { payload: dht11_hum, topic: \"DHT11 - Humidity\" };\n    }\n}\n\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 580,
        "wires": [
            [
                "871b9fa9c90a55d2",
                "5eb36feac8d528c0",
                "28e804dc63d7a301"
            ]
        ]
    },
    {
        "id": "a67d3aa8437da6ab",
        "type": "ui_chart",
        "z": "e8b991a4b47e3552",
        "name": "",
        "group": "bc4a0db66a73ac50",
        "order": 4,
        "width": "0",
        "height": "0",
        "label": "DHT22 - Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "5eb36feac8d528c0",
        "type": "ui_chart",
        "z": "e8b991a4b47e3552",
        "name": "",
        "group": "52cb12e76298bd41",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "DHT11 - Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "623da89be5fa4e6b",
        "type": "influxdb out",
        "z": "e8b991a4b47e3552",
        "influxdb": "20ea6f74093db2ea",
        "name": "",
        "measurement": "DHT22-Temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "dcsproject",
        "bucket": "phylab",
        "x": 1040,
        "y": 200,
        "wires": []
    },
    {
        "id": "490ca67da95e0a1e",
        "type": "influxdb out",
        "z": "e8b991a4b47e3552",
        "influxdb": "20ea6f74093db2ea",
        "name": "",
        "measurement": "DHT22-Humidity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "dcsproject",
        "bucket": "phylab",
        "x": 1030,
        "y": 340,
        "wires": []
    },
    {
        "id": "54c0393c3c289f18",
        "type": "influxdb out",
        "z": "e8b991a4b47e3552",
        "influxdb": "20ea6f74093db2ea",
        "name": "",
        "measurement": "DHT11-Temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "dcsproject",
        "bucket": "phylab",
        "x": 1040,
        "y": 480,
        "wires": []
    },
    {
        "id": "28e804dc63d7a301",
        "type": "influxdb out",
        "z": "e8b991a4b47e3552",
        "influxdb": "20ea6f74093db2ea",
        "name": "",
        "measurement": "DHT11-Humidity",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "dcsproject",
        "bucket": "phylab",
        "x": 1030,
        "y": 620,
        "wires": []
    },
    {
        "id": "54e8ed58a8c91653",
        "type": "influxdb out",
        "z": "e8b991a4b47e3552",
        "influxdb": "20ea6f74093db2ea",
        "name": "",
        "measurement": "MQ135",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "dcsproject",
        "bucket": "phylab",
        "x": 1000,
        "y": 760,
        "wires": []
    },
    {
        "id": "b4ac01b429914600",
        "type": "switch",
        "z": "e8b991a4b47e3552",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "BUZZER_ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "System Work",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 840,
        "wires": [
            [
                "64bdef78ec6917c9",
                "10a0f429f3953819"
            ],
            [
                "10a0f429f3953819"
            ]
        ]
    },
    {
        "id": "aa6ff5bbcb22cd3a",
        "type": "e-mail",
        "z": "e8b991a4b47e3552",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "tugrulgol@gmail.com",
        "dname": "",
        "x": 1320,
        "y": 840,
        "wires": []
    },
    {
        "id": "10a0f429f3953819",
        "type": "function",
        "z": "e8b991a4b47e3552",
        "name": "function 4",
        "func": "if (msg.payload === \"BUZZER_ON\") {\n    if (global.get(\"emailSent\") === true) {\n        return null;\n    } else {\n        global.set(\"emailSent\", true); \n        msg.to = \"tugrulgol@gmail.com\";  \n        msg.topic = \"Error - ISU PHY-LAB IoT Project\";\n        msg.payload = \"A sensor error has been detected and the buzzer has been activated.\"; \n        return msg; \n    }\n} else if (msg.payload === \"System Work\") {\n    global.set(\"emailSent\", false); \n    return null;\n}\nreturn null;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 840,
        "wires": [
            [
                "ebbfd584acbd52f7",
                "aa6ff5bbcb22cd3a"
            ]
        ]
    },
    {
        "id": "64bdef78ec6917c9",
        "type": "debug",
        "z": "e8b991a4b47e3552",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 920,
        "wires": []
    },
    {
        "id": "ebbfd584acbd52f7",
        "type": "debug",
        "z": "e8b991a4b47e3552",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 920,
        "wires": []
    },
    {
        "id": "6c3dde73a9159aa0",
        "type": "function",
        "z": "e8b991a4b47e3552",
        "name": "function 5",
        "func": "msg.payload = msg.payload.trim();\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 840,
        "wires": [
            [
                "b4ac01b429914600"
            ]
        ]
    },
    {
        "id": "8f6e88487be247a6",
        "type": "ui_spacer",
        "z": "e8b991a4b47e3552",
        "name": "spacer",
        "group": "bc4a0db66a73ac50",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "1005853c885543a6",
        "type": "serial-port",
        "name": "Arduino",
        "serialport": "COM5",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "bc4a0db66a73ac50",
        "type": "ui_group",
        "name": "Phy-Lab DHT22 - Temperature",
        "tab": "20debdb2faecdb75",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "52cb12e76298bd41",
        "type": "ui_group",
        "name": "Phy-Lab DHT11 - Temperature",
        "tab": "20debdb2faecdb75",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ed6391c30c84927d",
        "type": "ui_group",
        "name": "Phy-Lab MQ135",
        "tab": "20debdb2faecdb75",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "20ea6f74093db2ea",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "20debdb2faecdb75",
        "type": "ui_tab",
        "name": "Phy-Lab IoT",
        "icon": "Phy-Lab IoT",
        "disabled": false,
        "hidden": false
    }
]